<mat-toolbar>
  <mat-toolbar-row>
      <mat-form-field>
      <mat-select [(ngModel)]="categoryFilter">
          <mat-option value="All">All Students</mat-option>
          <mat-option value="Domestic">Domestic</mat-option>
          <mat-option value="International">International</mat-option>
      </mat-select>
    </mat-form-field>
      <mat-form-field>
          <input type="text" matInput [(ngModel)]="studentFilter">
          <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>
<mat-grid-list cols="4" rowHeight="4:4">
  <mat-grid-tile *ngFor="let student of (students | categoryWiseStudent: categoryFilter | search: studentFilter)">
    <mat-card [appIdentifyStudentType] = student.category>
      <div style="text-align: right"><button mat-button (click)="openDialog(student.id)"><mat-icon>delete_forever</mat-icon></button></div>
      <mat-card-header [appIdentifyStudentType] = student.category>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{student.name}}</mat-card-title>
          <mat-card-subtitle>{{student.category}} Student</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <p>Father's Name: {{student.fatherName}}</p>
        <p>Mother's Name: {{student.motherName}}</p>
        <p>Date of Birth: {{student.dob | date:'fullDate'}}</p>
        <p>Last Class Marks: {{student.lastScore}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink] = "['/dashboard/onboard','edit',student.id]">Edit</button>
        <button mat-raised-button color="primary" [routerLink] = "['/dashboard/onboard','view',student.id]">View</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>



